<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Learning AngularJS</title>
		<link href="css/bootstrap-theme.css" type="text/css" rel="stylesheet"/>
		<link href="css/bootstrap.css"  type="text/css" rel="stylesheet"/>
		<script src="js/lib/jquery-2.1.1.js"></script>
		<script src="js/lib/bootstrap.js"></script>
		<script src="js/lib/angular.js"></script>
		<script src="js/app/controllers/controller.js"></script>
	</head>
	<body ng-app="phonecatApp" >
		<div ng-controller='PhoneListCtrl'>
			<h1>Mobiles List</h1>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2">
						<!--Sidebar content-->

						Search:
						<input ng-model="query">
						Sort by:
						<select ng-model="orderProp">
							<option value="name">Alphabetical</option>
							<option value="age">Newest</option>
						</select>

					</div>
					<div class="col-md-10">
						<ul class="phones">
							<li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
								{{phone.name}}
								<p>{{phone.snippet}}</p>
							</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
	</body>
</html>